html {
	font-size: 62.5%;
}

body {
	background-color: #999;
	font-family: "Roboto", sans-serif;
	margin: 0;
}

/* Banner Image */

.banner-image {
    width: 100%;
}

/* Profile */

.profile {
    display: grid; 
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    width: 100%;
}

.profile-image {
    border-radius: 100px;
    border: 10px solid black;
    height: 40rem;
    width: 40rem;    
}

.profile-name-div {
    text-align: center;
}

.profile-name {
    bottom: 15rem;
    color: white;
    font-family: "Suez One", serif;
    font-size: 12.5rem; 
    font-weight: 700;
    left: 50rem;
    margin-bottom: 0px;
    margin-top: 0px;
    position: absolute;
    text-shadow: 12px 12px 0px gray; 
}

/* Stats table */

.stats {
    margin-top: 7rem;
}

.stats table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse; 
}

.stats th {
    font-size: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.stats td {
    font-size: 2rem;
}

h1 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

tr:nth-child(odd) {
    background-color: #90ee90;
    color: #000;
}

tr:nth-child(even) {
    background-color: #FFC0CB;
    color: #000;
}

.format {
    color: #000;
    font-weight: 600;    
}