html {
	font-size: 62.5%;
}

body {
	background-color: #999;
	font-family: "Roboto", sans-serif;
	margin: 0;
}

/* Banner Image */

.banner-image {
    width: 100%;
}

/* Profile */

.profile {
    display: grid; 
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    width: 100%;
}

.profile-image {
    border-radius: 100px;
    border: 10px solid black;
    height: 40rem;
    width: 40rem;
}

.profile-name-div {
    text-align: center;
}

.profile-name {
    font-family: "Suez One", serif;
    color: white;
    font-weight: 700;
    font-size: 12.5rem; 
    margin-top: 0px;
    margin-bottom: 0px;
    text-shadow: 12px 12px 0px gray; 
    position: absolute;
    bottom: 15rem;
    left: 50rem;
}

/* Stats table */

.stats {
    margin-top: 7rem;
}