body {
	background-color: #999;
	font-family: "Roboto", sans-serif;
}

.profilepicture img {
	border-radius: 100px;
	width: 450px;
	height: 450px;
	border: 10px black solid;
}

.profilepicture {
	display: flex;
	justify-content: center;
	margin-top: 10rem;
}

.playername {
	font-family: "Suez One";
	color: white;
	font-weight: 700;
	font-size: 125px;
	margin-left: 4rem;
}
